{:assets 
{"assets/423385__crazymonke9__simple-kalimba-loop-on-120-bpm.wav" :bundled}
 :current-tab 0
 
 :manifest 
{:dependencies 
{}
 :description "Various delay effects in the Kronos language explained in detail, using static and dynamic delays to produce echo, reverb, vibrato, chorus and flanger."
 :license "https://www.eclipse.org/legal/epl-v10.html"
 :name "delay-effects"
 :url "https://kronoslang.io"
 :version "0.1"}
 :tabs ("tabs/Echoes.y1ei2gd9e1g6hs9.edn" "tabs/Reverb.9vc2s9lni4bjuq5.edn" "tabs/FDN.2jvbtui2da7p1ys.edn" "tabs/Flanger.6t91dw9v6elr88n.edn" "tabs/Ringbuffer.1xaq990xaa53im8.edn" "tabs/My-Static-Delay.43jc6kec1uq66p3.edn" "tabs/My-Dynamic-Delay.p1zcmyedoazqvep.edn" "tabs/My-Fractional-Delay.n72034wr55mevzf.edn" "tabs/FDN-Delay.k6jaaip6x0afd7k.edn" "tabs/Allpass-Comb.hsc18718qgowds4.edn" "tabs/FWT.sywmq24ug6ys68y.edn" "tabs/Sound-Example.1spx6qoohvtr5ri.edn")}