{:documentation "Delays `sig` by a number of activation `frames`. The output is fed back and added to the input, multiplied by the `feedback` coefficient."
 :draft-argument "sig frames feedback"
 :identifier "My-Static-Delay"
 :identity "43jc6kec1uq66p3"
 :patch
{:cables
{["00zca9qt85ja8gn" 0] [:fixed "c9i0xdm15546sw3" 0]
 ["00zca9qt85ja8gn" 1] [:fixed "38qxk4lq3bwg4fb" 0]
 ["2ha99ka5ug6jifn" 0] [:fixed "uvt247wbd8744jl" 0]
 ["2ha99ka5ug6jifn" 1] [:fixed "00zca9qt85ja8gn" 0]
 ["38qxk4lq3bwg4fb" 0] [:fixed "2ha99ka5ug6jifn" 0]
 ["38qxk4lq3bwg4fb" 1] [:fixed "c9i0xdm15546sw3" 2]
 ["uvt247wbd8744jl" 0] [:fixed "c9i0xdm15546sw3" 1]
 ["vayywn2f9ytbeae" 0] [:fixed "2ha99ka5ug6jifn" 0]}
 :nodes
{"00zca9qt85ja8gn" 
{:inputs ["a" "b" "more..."]
 :label "+"
 :outputs [""]
 :parsed [:infix [:free-var "a"] "+" [:free-var "b"] [:free-var "more..."]]
 :pos [-98 -24]
 }
 "2ha99ka5ug6jifn" 
{:inputs ["order" "sig~"]
 :label "rbuf($order $sig~)"
 :name "delay element"
 :outputs [""]
 :parsed [:fn "rbuf" [:tuple [:free-var "order"] [:free-var "sig~"]]]
 :pos [-24 79]
 }
 "38qxk4lq3bwg4fb" 
{:inputs ["a" "b" "more..."]
 :label "*"
 :name "feedback"
 :outputs [""]
 :parsed [:infix [:free-var "a"] "*" [:free-var "b"] [:free-var "more..."]]
 :pos [91 78]
 }
 "5a38ewqd3y4jofe" 
{:inputs []
 :label ";# Static Delay #\n\n\nA simple delay line can be made by using the `rbuf` primitive, which writes incoming values to a circular buffer, outputting the evicted value at each frame."
 :outputs []
 :parsed [:comment "# Static Delay #\n\n\nA simple delay line can be made by using the `rbuf` primitive, which writes incoming values to a circular buffer, outputting the evicted value at each frame."]
 :pos [196 -229]
 }
 "c9i0xdm15546sw3" 
{:color 0
 :inputs []
 :label "(sig delay feedback) = arg"
 :outputs ["sig" "delay" "feedback"]
 :parsed "arg"
 :pos [-345 -124]
 }
 "uvt247wbd8744jl" 
{:inputs ["a"]
 :label "Constraints:Constant!($a)"
 :outputs [""]
 :parsed [:fn "Constraints:Constant!" [:tuple [:free-var "a"]]]
 :pos [-202 79]
 }
 "vayywn2f9ytbeae" 
{:inputs ["out"]
 :label "$out"
 :outputs [""]
 :parsed [:free-var "out"]
 :pos [163 186]
 }}}}