{:identifier "Sound-Example"
 :identity "1spx6qoohvtr5ri"
 :patch
{:cables
{["4beb79kp2d9o93j" 0] [:fixed "7jk5e0hy1269807" 2]
 ["4xe5f8gl6hreckz" 0] [:fixed "6ccadr7e7s9rvc6" 0]
 ["6ccadr7e7s9rvc6" 0] [:fixed "mlbeoh9gq1lntsy" 0]
 ["6ccadr7e7s9rvc6" 1] [:fixed "7jk5e0hy1269807" 0]
 ["851x0kz111qi6wl" 0] [:fixed "4xe5f8gl6hreckz" 0]
 ["851x0kz111qi6wl" 1] [:fixed "mqe1sol43v62eut" 0]
 ["cyyp7rug1y3ewzd" 0] [:fixed "4beb79kp2d9o93j" 0]
 ["cyyp7rug1y3ewzd" 1] [:fixed "851x0kz111qi6wl" 0]}
 :nodes
{"4beb79kp2d9o93j" 
{:inputs ["fn"]
 :label "Function:Wrap-Hermite($fn)"
 :outputs [""]
 :parsed [:fn "Function:Wrap-Hermite" [:tuple [:free-var "fn"]]]
 :pos [-24 107]
 }
 "4xe5f8gl6hreckz" 
{:inputs ["sig"]
 :label "Gen:Signal($sig)"
 :outputs [""]
 :parsed [:fn "Gen:Signal" [:tuple [:free-var "sig"]]]
 :pos [11 -65]
 }
 "6ccadr7e7s9rvc6" 
{:flip-y true
 :inputs ["a" "b" "more..."]
 :label "/"
 :outputs [""]
 :parsed [:infix [:free-var "a"] "/" [:free-var "b"] [:free-var "more..."]]
 :pos [-75 -181]
 }
 "7jk5e0hy1269807" 
{:inputs []
 :label "423385__crazymonke9__simple-kalimba-loop-on-120-bpm.wav"
 :outputs ["sample-rate" "num-frames" "sampler-fn"]
 :parsed [:asset "423385__crazymonke9__simple-kalimba-loop-on-120-bpm.wav"]
 :pos [-373 -50]
 }
 "851x0kz111qi6wl" 
{:inputs ["sig" "feedback"]
 :label "Filter:Integrate($sig $feedback)"
 :outputs [""]
 :parsed [:fn "Filter:Integrate" [:tuple [:free-var "sig"] [:free-var "feedback"]]]
 :pos [163 -22]
 }
 "cyyp7rug1y3ewzd" 
{:ephemeral-inputs #{"arg"}
 :inputs ["fn" "arg" "arg..."]
 :label "Eval($fn $arg...)"
 :outputs [""]
 :parsed [:fn "Eval" [:tuple [:free-var "fn"] [:free-var "arg"] [:free-var "arg..."]]]
 :pos [280 103]
 :selected true}
 "e8lexet63a3bfb3" 
{:inputs []
 :label "; Sample credit: [crazymonke9](https://freesound.org/people/crazymonke9/sounds/423385/)"
 :outputs []
 :parsed [:comment "Sample credit: [crazymonke9](https://freesound.org/people/crazymonke9/sounds/423385/)"]
 :pos [-380 131]
 }
 "mlbeoh9gq1lntsy" 
{:inputs []
 :label "Gen:Rate()"
 :outputs [""]
 :parsed [:fn "Gen:Rate" [:tuple]]
 :pos [-224 -177]
 }
 "mqe1sol43v62eut" 
{:inputs []
 :label "1"
 :outputs [""]
 :parsed [:float "1"]
 :pos [63 -153]
 }}}}